$primary:       #2358DE;
$secondary:     #23DEAF;
$contrast:      #6723DE;
$black:         #222222;
$danger:        #ff5555;
$warning:       #f99f3c;
$success:       #3ac279;
$blue:          #3d84e5;
